:root {
  --color-primary: #00252E;
  --color-primary-light: #ffffff;
  --color-bg-light: #F6FBFF;
  --color-secondary: #808E9A;
  --color-red-light-1: #FF4343;
  --color-ping-light-1: #FF52c1;
  --color-ping-soft-1: #FF8ED7;
  --color-blue-light-1: #00C7FA;
  --gap-row-1:15rem;
  --gap-row-2:8rem;
  --gap-row-3:6rem;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.a3:hover,
.a3:active {
  color: var(--color-green-light-1);
}

button {
  border-width: 0;
  background: none;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  margin: 0;
}

input,
button,
select,
textarea {
  font-size: inherit;
  line-height: inherit;
}

img, picture, video, canvas {
  max-width: 100%;
  display: block;
  line-height: 0;
}

*:focus {
  outline: none;
  outline: 0px dotted black;
  outline-offset: 8px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: normal;
  color: var(--color-primary);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-secondary);
}

.container {
  margin: 0 auto;
  max-width: 114rem;
  border: 1px solid red;
}

.heading--light {
  font-weight: 600;
}

.heading--bold {
  font-weight: 700;
}

.heading--2 {
  font-size: 3.6rem;
  letter-spacing: -0.75px;
}

h1,
h2,
h3 {
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: clamp(2.4rem, 5.2vw, 4.8rem);
  line-height: clamp(3.6rem, 8vw, 7.2rem);
  color: var(--color-primary);
  margin-bottom: 2.6rem;
}

h2 {
  font-weight: 700;
  font-size: clamp(2rem, 6.2vw, 4rem);
  line-height: clamp(3rem, 8vw, 6rem);
  color: var(--color-primary);
  margin-bottom: 2.6rem;
}

h3 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: clamp(2rem, 2.5vw, 2.4rem);
  line-height: clamp(3rem, 2.5vw, 3.6rem);
  color: var(--color-primary-light);
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

.p1 {
  font-weight: 400;
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  line-height: clamp(2.1rem, 2.5vw, 3rem);
  text-align: center;
  color: var(--color-primary);
}

.p2 {
  font-size: clamp(1.4rem, 2.8vw, 1.6rem);
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: lamp(2.1rem, 2.8vw, 2.4rem);
  color: var(--color-primary);
}

.p3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--color-primary-light);
}

.a3 {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 3rem;
  color: var(--color-primary-light);
}

.mb-sm {
  margin-bottom: 2.4rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-lg {
  margin-bottom: 8rem;
}

.mb-hg {
  margin-bottom: 15rem;
}

.mt-lg {
  margin-top: 7rem;
}

.pt-hg {
  padding-top: 13.1rem;
}

.center-text {
  text-align: center !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 530px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid-layout {
  display: -ms-grid;
  display: grid;
  background-color: #ffffff;
  max-width: 1440px;
  margin-inline: auto;
}

header {
  margin-top: clamp(2.4rem, 7vw, 7.8rem);
  margin-inline: clamp(24px, 3%, 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: clamp(11.2rem, 24vw, 22.5rem);
}
header img {
  width: clamp(9.6rem, 24vw, 24rem);
}

main {
  display: -ms-grid;
  display: grid;
}
main .hero {
  margin-bottom: 12rem;
  padding-inline: clamp(40px, 3%, 100%);
}
main .diagram {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0 40px;
  margin-bottom: clamp(0.6rem, 8vw, 11.3rem);
}
main .main-center {
  display: -ms-grid;
  display: grid;
  margin-bottom: 14rem;
}
main .cta {
  margin-bottom: 17.8rem;
}

.btn, .btn:link, .btn:visited {
  background-color: var(--color-ping-light-1);
  border-radius: 40px;
  color: var(--color-primary-light);
  padding: 2.5rem 9.9rem 2.5rem 10rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
          box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
  border: none;
}
@media only screen and (max-width: 900px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 2.2rem 8rem 2.2rem 8rem;
  }
}
@media only screen and (max-width: 500px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 1.1rem 4rem 1.1rem 4rem;
  }
}
.btn:hover {
  background-color: var(--color-ping-soft-1);
}
.btn:active, .btn:focus {
  outline: none;
}
.btn--green {
  background-color: var(--color-green-light-1);
}
.btn--purple {
  background-color: var(--color-purple-light-1);
}

.btn-header, .btn-header:link, .btn-header:visited {
  border: 1px solid var(--color-ping-light-1);
  border-radius: 20px;
  color: var(--color-ping-light-1);
  padding: 0.9rem 3rem 0.9rem 3.1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .btn-header, .btn-header:link, .btn-header:visited {
    font-size: 0.94rem;
    line-height: 1.3rem;
    padding: 0.72rem 2.4rem 0.72rem 2.4rem;
  }
}
@media only screen and (max-width: 500px) {
  .btn-header, .btn-header:link, .btn-header:visited {
    font-size: 0.94rem;
    line-height: 1.3rem;
    padding: 0.52rem 1.8rem 0.52rem 1.8rem;
  }
}
.btn-header:hover {
  border: 1px solid var(--color-ping-soft-1);
  color: var(--color-ping-soft-1);
}
.btn-header:active, .btn-header:focus {
  outline: none;
}

.hero {
  text-align: center;
}
.hero img {
  margin-inline: auto;
}
.hero p {
  margin-inline: auto;
  max-inline-size: 600px;
  margin-bottom: clamp(48px, 10%, 49px);
}
.hero .btn {
  margin-bottom: clamp(10.4rem, 24vw, 12rem);
}

.diagram {
  inline-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 88px;
}
.diagram .communities {
  font-weight: 700;
  font-size: clamp(6.1rem, 9vw, 9.6rem);
  line-height: clamp(9.14rem, 11vw, 14.4rem);
}
.diagram .messages {
  font-weight: 400;
  font-size: clamp(1.524rem, 3vw, 2.4rem);
  line-height: clamp(2.28rem, 3vw, 3.6rem);
  text-align: center;
  color: #808e9a;
}
.diagram .diagram-icon {
  margin-bottom: -2.5rem;
  margin-left: 5px;
}
@media only screen and (max-width: 775px) {
  .diagram .diagram-icon {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
  }
}
@media only screen and (max-width: 375px) {
  .diagram .diagram-icon {
    -webkit-transform: scale(0.64);
            transform: scale(0.64);
  }
}

.main-center .together {
  position: relative;
  background-color: var(--color-bg-light);
  margin-bottom: clamp(13.3rem, 15vw, 17.3rem);
}
.main-center .together::before, .main-center .together::after {
  background-color: #ffffff;
  grid-column: 1/-1;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: block;
}
.main-center .together::before {
  content: "";
  background-image: url("../images/bg-section-top-desktop-1.svg");
  height: 165px;
}
@media only screen and (max-width: 375px) {
  .main-center .together::before {
    background-image: url("../images/bg-section-top-mobile-1.svg");
    max-height: 112px;
  }
}
.main-center .together::after {
  content: "";
  background-image: url("../images/bg-section-bottom-desktop-1.svg");
  height: 139px;
}
@media only screen and (max-width: 375px) {
  .main-center .together::after {
    background-image: url("../images/bg-section-bottom-mobile-1.svg");
    max-height: 52px;
  }
}
.main-center .conversations {
  margin-inline: auto;
  margin-bottom: clamp(9.3rem, 3vw, 10.3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  max-width: 1180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 79px;
}
@media only screen and (max-width: 960px) {
  .main-center .conversations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-inline: 28px;
  }
}
.main-center .yourusers {
  background-color: var(--color-bg-light);
}
.main-center .yourusers::before, .main-center .yourusers::after {
  background-color: #ffffff;
  grid-column: 1/-1;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: block;
}
.main-center .yourusers::before {
  content: "";
  background-image: url("../images/bg-section-top-desktop-2.svg");
  height: 165px;
}
@media only screen and (max-width: 375px) {
  .main-center .yourusers::before {
    background-image: url("../images/bg-section-top-mobile-2.svg");
    max-height: 112px;
  }
}
.main-center .yourusers::after {
  content: "";
  background-image: url("../images/bg-section-bottom-desktop-2.svg");
  height: 139px;
}
@media only screen and (max-width: 375px) {
  .main-center .yourusers::after {
    background-image: url("../images/bg-section-bottom-mobile-2.svg");
    max-height: 52px;
  }
}
.main-center .main-center-content {
  margin-inline: auto;
  margin-block: 6.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1180px;
  padding-inline: 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 79px;
}
@media only screen and (max-width: 960px) {
  .main-center .main-center-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main-center .main-center-text {
  max-width: 52rem;
}
@media only screen and (max-width: 960px) {
  .main-center .main-center-text {
    text-align: center;
  }
}
.main-center .main-center-img {
  max-width: 56rem;
  padding: 27px;
}

.cta {
  text-align: center;
}
.cta h2 {
  margin-bottom: 4.2rem;
}

footer {
  background-color: var(--color-primary);
  color: var(--color-primary-light);
}
footer::before {
  content: "";
  grid-column: 1/-1;
  background-image: url("../images/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: var(--color-primary-light);
  display: block;
  height: 158px;
}
@media only screen and (max-width: 375px) {
  footer::before {
    background-image: url("../images/bg-footer-top-mobile.svg");
    max-height: 53px;
  }
}
footer .footer-content {
  padding-block: clamp(5rem, 10vw, 10rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320fr 10rem 520fr;
  grid-template-columns: 320fr 520fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  gap: 10rem;
  padding-inline: clamp(2.8rem, 7vw, 10rem);
}
footer .footer-content .footer-left {
  display: -ms-grid;
  display: grid;
  width: 34rem;
}
footer .footer-content .footer-left p {
  color: #fff;
}
footer .footer-content .footer-left .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
footer .footer-content .footer-left .contact * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
footer .footer-content .footer-left .social {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}
footer .footer-content .footer-left .social svg path {
  fill: #ffffff;
}
footer .footer-content .footer-left .social a:hover svg path {
  fill: #00c7fa;
}
footer .footer-content .footer-left .footer-logo {
  margin-bottom: 28px;
}
footer .footer-content .footer-left .footer-logo path {
  fill: #ffffff;
}
footer .footer-content .footer-right {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 34.4rem minmax(10rem, 18rem);
  grid-template-columns: 34.4rem minmax(10rem, 18rem);
}
footer .footer-content .footer-right p {
  -ms-grid-column: 1;
  grid-column: 1/1;
}
footer .footer-content .footer-right .subscribe-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
footer .footer-content .footer-right .subscribe-box .subscribe-input {
  border-radius: 6px;
  color: var(--color-primary);
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 1.2rem 1.6rem 1.2rem 1.6rem;
  width: 90%;
  height: 48px;
}
footer .footer-content .footer-right .subscribe-box .subscribe-input:focus:invalid ~ .subscribe-input-invalid {
  opacity: 1;
}
footer .footer-content .footer-right .subscribe-box .subscribe-input-invalid {
  opacity: 0;
  position: absolute;
  top: 55px;
  color: #ff4343;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
}
footer .footer-content .footer-right .subscribe-box .btn-footer {
  font-size: 1.6rem;
  border-radius: 11px;
  padding: 0.9rem 4.1rem 0.9rem 4.1rem;
}
@media only screen and (max-width: 1030px) {
  footer .footer-content .footer-right .subscribe-box {
    -ms-grid-columns: minmax(30rem, 40rem);
    grid-template-columns: minmax(30rem, 40rem);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    row-gap: 30px;
  }
  footer .footer-content .footer-right .subscribe-box .subscribe-input {
    width: 100%;
  }
}
@media only screen and (max-width: 1030px) {
  footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer .footer-content .footer-left {
    width: clamp(30rem, 85vw, 48rem);
  }
  footer .footer-content .footer-right {
    display: block;
    justify-items: start;
    width: clamp(30rem, 85vw, 48rem);
  }
  footer .footer-content .footer-right .subscribe-box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: end;
  }
}