.btn {
   &,
   &:link,
   &:visited {
      background-color: var(--color-ping-light-1);

      border-radius: 40px;
      color: var(--color-primary-light);
      padding: 2.5rem 9.9rem 2.5rem 10rem;
      font-weight: 700;
      font-size: 2rem;
      line-height: 3rem;
      cursor: pointer;
      box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
      // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      //   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      border: none;
      @media only screen and (max-width: 900px) {
         font-size: 1.8rem;
         line-height:1.8rem;
         padding: 2.2rem 8rem 2.2rem 8rem;
      }
      @media only screen and (max-width: 500px) {
        font-size: 1.2rem;
        line-height:1.8rem;
        padding: 1.1rem 4rem 1.1rem 4rem;
     }
   }

   &:hover {
      background-color: var(--color-ping-soft-1);
   }

   &:active,
   &:focus {
      outline: none;

      // box-shadow: 0 2px 2px rgba(0,0,0, 0.25);
   }

   &--green {
      background-color: var(--color-green-light-1);
   }
   &--purple {
      background-color: var(--color-purple-light-1);
   }
}

.btn-header {
   &,
   &:link,
   &:visited {
      border: 1px solid var(--color-ping-light-1);
      border-radius: 20px;
      color: var(--color-ping-light-1);
      padding: 0.9rem 3rem 0.9rem 3.1rem;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.2rem;
      cursor: pointer;
      @media only screen and (max-width: 900px) {
         font-size: .94rem;
         line-height:1.3rem;
         padding: .72rem 2.4rem .72rem 2.4rem;
      }
      @media only screen and (max-width: 500px) {
        font-size: .94rem;
        line-height:1.3rem;
        padding: .52rem 1.8rem .52rem 1.8rem;
     }

   }

   &:hover {
      border: 1px solid var(--color-ping-soft-1);
      color: var(--color-ping-soft-1);
   }

   &:active,
   &:focus {
      outline: none;
   }
}
