.grid-layout {
   display: grid;
   background-color: #ffffff;
   max-width: 1440px;
   margin-inline: auto;
   
}

header {
   margin-top: clamp(2.4rem, 7vw,7.8rem);
   margin-inline: clamp(24px, 3%, 80px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: clamp(11.2rem, 24vw, 22.5rem);
   img {
      width: clamp(9.6rem, 24vw, 24rem);
   }
}

main {
   display: grid;

   .hero {
      margin-bottom: 12rem;
      padding-inline: clamp(40px, 3%, 100%);
   }

   .diagram {
      justify-self: center;
      padding: 0 40px;
      margin-bottom: clamp(0.6rem, 8vw, 11.3rem);
   }

   .main-center {
      display: grid;
      margin-bottom: 14rem;
   }

   .cta {
      margin-bottom: 17.8rem;
   }
}
