.hero {
   
   text-align: center;
   
   img {
      margin-inline: auto;
   }

   p {
      margin-inline: auto;
      max-inline-size: 600px;
      margin-bottom: clamp(48px, 10%, 49px);
   }
   .btn {
      margin-bottom: clamp(10.4rem, 24vw, 12rem);
   }
}
.diagram {
   inline-size: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 88px;
   .communities {
      font-weight: 700;
      font-size: clamp(6.1rem, 9vw, 9.6rem);
      line-height: clamp(9.14rem, 11vw, 14.4rem);
   }
   .messages {
      font-weight: 400;
      font-size: clamp(1.524rem, 3vw, 2.4rem);
      line-height: clamp(2.28rem, 3vw, 3.6rem);
      text-align: center;
      color: #808e9a;
   }
   .diagram-icon {
      margin-bottom: -2.5rem;
      margin-left: 5px;
      @media only screen and (max-width: 775px) {
         transform: scale(0.84);
      }
      @media only screen and (max-width: 375px) {
         transform: scale(0.64);
      }
   }
}

.main-center {
   .together {
      position: relative;
      background-color: var(--color-bg-light);
      margin-bottom: clamp(13.3rem, 15vw, 17.3rem);

      &::before,
      &::after {
         background-color: #ffffff;
         grid-column: 1/-1;
         background-repeat: no-repeat;
         background-position: top;
         background-size: cover;
         display: block;
      }
      &::before {
         content: "";
         background-image: url("../images/bg-section-top-desktop-1.svg");
         height: 165px;
         @media only screen and (max-width: 375px) {
            background-image: url("../images/bg-section-top-mobile-1.svg");
            max-height: 112px;
         }
      }
      &::after {
         content: "";
         background-image: url("../images/bg-section-bottom-desktop-1.svg");
         height: 139px;
         @media only screen and (max-width: 375px) {
            background-image: url("../images/bg-section-bottom-mobile-1.svg");
            max-height: 52px;
         }
      }
   }
   .conversations {
      margin-inline: auto;
      margin-bottom: clamp(9.3rem, 3vw, 10.3rem);
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      max-width: 1180px;

     
      justify-content: space-between;
      align-items: center;
      gap: 79px;
      @media only screen and (max-width: 960px) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding-inline: 28px;
      }
   }
   .yourusers {
      background-color: var(--color-bg-light);
      &::before,
      &::after {
         background-color: #ffffff;
         grid-column: 1/-1;
         background-repeat: no-repeat;
         background-position: top;
         background-size: cover;
         display: block;
      }
      &::before {
         content: "";
         background-image: url("../images/bg-section-top-desktop-2.svg");
         height: 165px;
         @media only screen and (max-width: 375px) {
            background-image: url("../images/bg-section-top-mobile-2.svg");
            max-height: 112px;
         }
      }
      &::after {
         content: "";
         background-image: url("../images/bg-section-bottom-desktop-2.svg");
         height: 139px;
         @media only screen and (max-width: 375px) {
            background-image: url("../images/bg-section-bottom-mobile-2.svg");
            max-height: 52px;
         }
      }
   }

   .main-center-content {
      margin-inline: auto;
      margin-block: 6.8rem;
      display: flex;
      justify-content: space-evenly;
      max-width: 1180px;
      padding-inline: 28px;
      justify-content: space-between;
      align-items: center;
      gap: 79px;
      @media only screen and (max-width: 960px) {
         flex-direction: column-reverse;
         align-items: center;
         justify-content: center;
         
      }
   }
   .main-center-text {
      max-width: 52rem;
     
      @media only screen and (max-width: 960px) {
         text-align: center;
      }
   }
   .main-center-img {
      max-width: 56rem;
      padding: 27px;
    
   }
}

.cta {
   text-align: center;
   h2{
      margin-bottom: 4.2rem;
   }
}

footer {
   background-color: var(--color-primary);
   color: var(--color-primary-light);
   &::before {
      content: "";
      grid-column: 1/-1;
      background-image: url("../images/bg-footer-top-desktop.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      background-color: var(--color-primary-light);
      display: block;
      height: 158px;
      @media only screen and (max-width: 375px) {
         background-image: url("../images/bg-footer-top-mobile.svg");
         max-height: 53px;
      }
   }

   .footer-content {
      padding-block: clamp(5rem,10vw,10rem);
      display: grid;
      grid-template-columns: 320fr 520fr;
      align-items: start;
      justify-content: space-around;
      color: #fff;
      gap: 10rem;
      padding-inline: clamp(2.8rem,7vw,10rem);

      .footer-left {
         display: grid;
         width: 34rem;
         p {
            color: #fff;
         }
         .contact{
            display: flex;
            flex-direction: column;
            gap:16px;
            *{
               display: flex;
               gap:16px;
            }
         }

         .social {
            margin-top: 8rem;
            display: flex;
            gap: 2.4rem;
            svg path {
               fill: #ffffff;
            }

            a:hover svg path {
               fill: #00c7fa;
            }
         }
         .footer-logo {
            margin-bottom: 28px;
            path{
            fill: #ffffff;}
         }
         
      }

      .footer-right {
         justify-self: end;
         display: grid;
         grid-template-columns: 34.4rem minmax(10rem, 18rem);

         p {
            grid-column: 1/1;
            
         }
         .subscribe-box {
            grid-column: 1/3;
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            position: relative;

            .subscribe-input {
               border-radius: 6px;
               color: var(--color-primary);
               font-size: 1.4rem;
               line-height: 2.4rem;
               padding: 1.2rem 1.6rem 1.2rem 1.6rem;
               width: 90%;
               height: 48px;

               &:focus:invalid ~ .subscribe-input-invalid {
                  opacity: 1;
               }
            }

            .subscribe-input-invalid {
               opacity: 0;
               position: absolute;
               top: 55px;
               color: #ff4343;
               font-weight: 600;
               font-size: 12px;
               line-height: 24px;
            }
           
            .btn-footer {
              
               font-size: 1.6rem;
               border-radius: 11px;
               padding: .9rem 4.1rem .9rem 4.1rem;
            }
            @media only screen and (max-width: 1030px) {
               grid-template-columns: minmax(30rem, 40rem);
               justify-content: end;
               row-gap: 30px;
               .subscribe-input {
                  width: 100%;
                  
               }
            }
         }
      }

      @media only screen and (max-width: 1030px) {
         display: flex;
         flex-direction: column-reverse;
         flex-wrap: wrap;
         justify-content: start;
         .footer-left {
            width: clamp(30rem, 85vw, 48rem);
         }

         .footer-right {
            display: block;
            justify-items: start;
            width: clamp(30rem, 85vw, 48rem);
            .subscribe-box {
               grid-template-columns: 1fr;
               justify-items: end;
            }
          
         }
      }
   }
}
